<% include ../partials/header %>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to YelpCamp!!</h1>
        <p class="lead">View all of our hand-picked campgrounds from all over the US</p>
        <a href="/campgrounds" class="btn btn-primary btn-md">View all campgrounds</a>
    </div>
    <p>Welcome to YelpCamp</p>
    <% include ../partials/footer %>
</div>
